.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141f8a;
  z-index: 4444444;
}
  
.single__modal4 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 450px;
  margin-bottom:0;
  transform: translate(-50%, -50%);
  background: #c7d8ff !important;
  border-radius: 5px;
  padding: 30px;
  z-index: 9995555555 !important;
  cursor: pointer;
}
  
.single__modal4 h6 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
}
  
.close__modal {
  position: absolute;
  top: -2px;
  right: -2px;
  z-index: 6666666;
}
  
.close__modal i {
  padding: 5px;
  background: rgb(97 192 254);
  color: #000000;
  border-radius: 50%;
}
  
@media only screen and (max-width: 992px) {
  .single__modal4 {
    width: 300px;
    height: auto;
  }
  .single__modal4 h6 {
    font-size: 0.9rem;
  }
  .single__modal4 p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .input__item h6 {
    font-size: 0.7rem;
  }
  .input__item input {
    padding: 5px 20px !important;
    font-size: 0.7rem;
  }
}
  
.table-history{
  display: flex;
}

.title-history{
  margin: 35px;
  color: #080808;
}

.history-app {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
    
table {
  padding: 20px;
  width: 100%;
  height: 300px;
  display: inline-block;
  overflow: auto;
  border-color:#c7d8ff;
}

tr {
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
}
    
th {
  color: #000000;
  height: 50px;
}
    
td {
  color: #000000;
  min-width: 200px;
  max-width: 200px;
  height: 90px;
  overflow: hidden;
  text-overflow:ellipsis;
}


